body {
  background-color: #FF8598;
  font-family: monospace;
  font-size: 200%;
  text-align: center;
}

h1 {
  background-color: #FFC0A9;
  color: white;
  text-transform: uppercase;
}

span {
  background-color: white;
  padding: 5px;
}

input[type=submit] {
  background-color: white;
  color: black;
  font-family: monospace;
  font-size: 1em;
}

input[type=text] {
  background-color: #C9D787;
  color: #7D8A2E;
  font-family: monospace;
  font-size: 1em;
  width: 30%;
}
